In [7]:
import datetime as dt

import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv("data/01-raw/raw_data.csv", index_col=0)

In [9]:
df.head()

          Date  EURUSD  USDCAD
Fr  12/30/2022  1.0661  1.3548
Th  12/29/2022  1.0612  1.3608
We  12/28/2022  1.0640  1.3523
Tu  12/27/2022  1.0637  1.3582
Mo  12/26/2022  1.0613  1.3607

In [10]:
df.index = pd.to_datetime(df.pop("Date"))

In [11]:
df.isna().sum()

EURUSD    18
USDCAD    18
dtype: int64

In [12]:
df = df.dropna()

In [13]:
# Compute daily logarithmic return
return_df = np.log(df) - np.log(df.shift(-1))

In [14]:
# Drop dates before 01/02/2001 so data can be binned into complete months
mask = pd.Timestamp(2001, 2, 1) <= return_df.index
return_df = return_df[mask]

In [15]:
return_df.to_pickle("data/02-preprocessed/return_df.pickle")

In [16]:
# Need number of trading days per month for volatility calculations
days_per_month = pd.Series(index=return_df.index, dtype=int)
days_per_month = days_per_month.resample('M').size()

days_per_month.to_pickle("data/misc/days_per_month.pickle")